# https://strftime.org

> Want to convert "year" and "day of year" into a single datetime column? ðŸ“†
<ul>
    <li>1. Combine them into one number</li>
    <li>2. Convert to datetime and specify its format'</li>
</ul>

In [9]:
import pandas as pd
df = { 'year' : [2019,2019,2020],
      'day_of_the_year' : [350,365,1]
    
}

In [10]:
df = pd.DataFrame(df)

In [11]:
df

   year  day_of_the_year
0  2019              350
1  2019              365
2  2020                1

In [12]:
df['combined'] = df['year'] * 1000 + df['day_of_the_year']

In [13]:
df

   year  day_of_the_year  combined
0  2019              350   2019350
1  2019              365   2019365
2  2020                1   2020001

In [16]:
df['date'] = pd.to_datetime(df["combined"],format='%Y%j')

In [17]:
df

   year  day_of_the_year  combined       date
0  2019              350   2019350 2019-12-16
1  2019              365   2019365 2019-12-31
2  2020                1   2020001 2020-01-01