In [0]:
import pandas as pd

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                'age': [20, 19, 22, 21],
                'favorite_color': ['blue', 'blue', 'yellow', "green"],
                'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

In [0]:
raw_data = {'name': ['ramesh','nishanat','durga','raju'],
            'age' : [20,23,24,26],
            'col': ['blue','blue','yellow','green'],
            'grade':[88,92,93,70]}
df1 = pd.DataFrame(raw_data)
df1.head()

In [0]:
# define the array of target colour 
s = ['blue','yellow']
df = df1.loc[df1['col'].isin(s)]
df = df1.loc[(df1['grade'] >= 90)]
df

In [0]:
# Define the dictionary for converting to dataframe  
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'], 
         'Year': ['1972', '2018', '1999'], 
         'Rating': ['9.2', '6.8', '8.8']} 
df2 = pd.DataFrame(movies)
df2.head()

In [0]:
import pandas as pd  
# Create a column Rating_Rank which contains 
df2['Rating_Rank'] = df2['Rating'].rank( ascending =1)

In [0]:
df = df2.set_index('Rating_Rank')
df

In [0]:
# Sort the dataFrame based on the index 
df = df2.sort_index()
print(df)

# Create a dictionary with student details 
student_details = {'Name':['Raj', 'Raj', 'Raj', 'Aravind', 'Aravind', 'Aravind', 
                             'John', 'John', 'John', 'Arjun', 'Arjun', 'Arjun'], 
                   'Subject':['Maths', 'Physics', 'Chemistry', 'Maths', 'Physics', 
                             'Chemistry', 'Maths', 'Physics', 'Chemistry', 'Maths', 
                                                           'Physics', 'Chemistry'], 
                   'Marks':[80, 90, 75, 60, 40, 60, 80, 55, 100, 90, 75, 70] 
               } 
  
# Convert dictionary to a DataFrame 
df = pd.DataFrame(student_details) 
print(df)

In [0]:
# Create a dictionary with student details 
student_details = {'Name':['Raj', 'Raj', 'Raj', 'Aravind', 'Aravind', 'Aravind', 
                             'John', 'John', 'John', 'Arjun', 'Arjun', 'Arjun'], 
                   'Subject':['Maths', 'Physics', 'Chemistry', 'Maths', 'Physics', 
                             'Chemistry', 'Maths', 'Physics', 'Chemistry', 'Maths', 
                                                           'Physics', 'Chemistry'], 
                   'Marks':[80, 90, 75, 60, 40, 60, 80, 55, 100, 90, 75, 70] 
               } 
  
# Convert dictionary to a DataFrame 
df3 = pd.DataFrame(student_details) 
print(df3)

In [0]:
# Create a new column with Marks  
# ranked in descending order 
df['Mark_Rank'] = df3['Marks'].rank(ascending = 0) 
df

In [0]:
df = df.set_index('Mark_Rank') 
df

In [0]:
df.sort_index() 
df